doctype html
html
	head
		include head.jade
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body
		include body.jade
		.container
			.row
					include container.jade
					include container.jade
					include container.jade	
		include footer.jade